{% extends "base.html" %}
{% block content %}
    {{ article.title }}<br>
    {{ article.author }}<br>
    {{ article.text }}<br>
    {{ article.created_at }}<br>
    {{ article.update }}<br>
    Кол-во лайков: {{ like_count }}<br>
    <br>
    <form action='{% url 'like_set' %}' method="post">
    {% csrf_token %}
    <input name="user_id" value=" {{ request.user.id }}">
    <input name="article_id" value="{{ article.id  }}">
    <button type='submit'> {{ button }}</button>



    </form>
{% endblock %}